*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
    html , body {
        height : 100%;
        width : 100%; 
        font-family:  sans-serif;
        
}
body::-webkit-scrollbar{
    height: 5px;
    width:5px;
}
body::-webkit-scrollbar-track{
        background: rgba(225, 225, 225, 0.49);
        border-radius: 99px;
}
body::-webkit-scrollbar-thumb{
        background: rgba(0, 0, 0, 0.737);
        border-radius: 99px;
}

.mainbody{
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;
    background-color:  rgba(255, 255, 255, 0.385);

}

#city-loader{
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    border: 4px solid rgb(179, 178, 178);
    border-radius: 50%;
    border-top: 4px solid;
    z-index: 999;
    animation: spin 0.7s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.image-container{
    width:100%;
    height:24rem;
    position: relative;
    background-image: url("rain/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;   
}
.imgchild{
    /* border-bottom: 1px solid ; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 20%, white 100%);
}

/* --------Navbar-------- */
.navbar{
    width: 100%;
    height: 12vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.res{
    width: max(320px , 99%);
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px auto;
    border-radius: 8px;
    padding: 0 1.2rem;
    background: rgba(181, 175, 175, 0.345);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo > img{
    width:min(52px ,14%);
}
.logo > h1{
    font-size: clamp(1.5rem , 4vw ,2.5rem);
    align-content: center;
    /* overflow: hidden; */
}
.climax > span{
    display: inline-block;
}
.input{
    position: relative;
}
.search-bar{
    height: 2rem;
    width: 2rem;
    border:none;
    border-radius: 100px;
    padding-left: 18px;
    padding-right: 14px;
    cursor: pointer;
    transition: .3s ease-out;
    outline: none;
    font-size: medium;
}
.search-bar:hover{
    background-color: rgb(236, 236, 236);

}
.search-bar::placeholder{
    color: rgb(0, 0, 0);
    font-size: medium;
}

.btn-img{
    position: absolute;
    top: 0%;
    left: 1%;
    padding: 4px;
    cursor: pointer;
    border-radius: 100px;
}
/* .btn-img:hover{
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 100px;
    background-color: rgb(236, 236, 236) ;

} */
.mic-img{
    width:2rem;
    height: 2rem;
    position: absolute;
    top: -2%;
    right: 0%;
    padding: 5px;
    cursor: pointer;
    opacity: 0;
    border-radius: 100px;
    
}
.speak{
    position: absolute;
    top:115%;
    left: 20%;
    width: 150px;
    height: 90px;
    background-image: linear-gradient(0deg,transparent 2% ,  rgba(255, 255, 255, 0.866) 90%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(100px);
    text-align: center;
    align-content: center;
    display: none;
    border: 1px solid;
    border-radius: var(--brad);
    transition: .3s ease-out;
    border-radius: 8px;
}
.close{
    position: absolute;
    top: 4%;
    right: 0%;
}
/* --------Navbar Ends here---------- */



/* --------Todays Data-------- */
.data{
    width: 100%;
    position: absolute;
    top:clamp(20% , 20vw , 22%);
    left: 0%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 2rem;
    /* border: 1px solid; */
}
.data > h1{
    font-size: clamp(1.4rem, 2vw ,  2rem);
}
.nm , .dt{
    display: flex;
    align-items: center;
    line-height:1.2rem;
}
.nm >img ,.dt >img{
    width: min(1rem , 20%);
}
.nm >h2{
    font-size: clamp(0.75rem, 2vw ,  1rem);
    font-weight: 400;
}
.dt >h5{
    font-size: clamp(0.6rem, 2vw ,  0.75rem);
    font-weight: 400;
}

.weathertype{
    width: fit-content;
    /* border: 1px solid; */
    display: flex;
    align-items:center ;
    gap: 10px;
    position: relative;
}
.weathertype> h2{
    font-weight: 500;
    font-size: clamp(0.85rem, 2vw ,  1rem);
    border-bottom: 2px solid;
}
.weathertype > img{
    width:max(2rem , 3vw);
}
/* --------Ends -------- */

/* --------Todays highligts-------- */
.highlights{
    width: 90%;
    min-height: 20vh;
    /* border: 1px solid; */
    border-radius: 8px;
    margin: 0px auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
.high{
    display: flex; 
}

.highlights::-webkit-scrollbar{
    display: none;
}
.humidity , .feelslike ,.pressure , .visibility , .wind{
    min-width:9rem;
    margin: 0px 10px;
    height:max(5% , 8vh);
    border-radius: 8px;
    background: rgba(232, 230, 230, 0.86); 
    padding: 4px;
    transition: 0.2s all ease-in-out;
}
.humidity:hover ,.feelslike:hover , .pressure:hover , .visibility:hover , .wind:hover{
    box-shadow:0 2px 2px 1px rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.humiddetail ,.feeldetail , .pressuredetail , .visibledetail , .winddetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.humidity h4 , .feelslike h4 , .pressure h4 , .visibility h4 , .wind h4{
    font-size:clamp(0.8rem , 4vw , 1rem);
    font-weight:500;
    
}
.humidity  img , .feelslike img , .pressure img , .visibility img , .wind img{
    width: 1.8rem;   
}

/*-------- sunrise & sunset PART ------------ */
.low{
    min-width: 18rem;
    height:max(5% , 8vh);
    background: rgba(232, 230, 230, 0.86);
    border-radius: 8px; 
    margin: 10px 10px;
    padding: 6px;
    transition: 0.2s all ease-in-out;
}
.sunriseset{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 16px;
}
.sunriseset>h5{
    font-size:clamp(0.8rem , 4vw , 1rem);
    font-weight:500;
}

.sunrise , .sunset{
    display: flex;
    gap: 5px;
}

.sunrise > img , .sunset > img{
    width: 2.5rem;
}
.low:hover{
    box-shadow:0 2px 2px 1px rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.justtocover{
    display: flex;
    align-items: center;
}

.airqlt{
    min-width: 9rem;
    height:max(8% , 10vh);
    background: rgba(232, 230, 230, 0.86);
    border-radius: 8px; 
    margin: 10px 10px;
    padding: 6px;
    transition: 0.2s all ease-in-out;
}
.airdetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.airqlt h4{
    font-size:clamp(0.8rem , 4vw , 1rem);
    font-weight:500;
}

.qlt{
    width: 3rem;
    height: 3vh;
    color: white;
    border-radius: 10px;
    background-color: rgba(68, 255, 0, 0.699);
    text-align: center;
    align-content: center;
}

.airqlt:hover{
    box-shadow:0 2px 2px 1px rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* ---------- End todays highlights ----------- */



/*---------------- Weekly data starts here -------------- */
.weektext{
    width: max(90% ,300px);
    height: 3rem;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
    border-radius: 10px;
    padding: 8px ;
    font-size: clamp(0.8rem , 2vw , 1rem);
    margin: 6px auto;
    text-align: center;
}
.weektext >h1{
    color: rgb(11, 11, 11);
    font-size: clamp(1.4rem , 5vw , 1.8rem);
}

.weekly{
    width: max(80% , 300px);
    max-height: 35vh;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
    margin: 2px auto;
    border-radius: 8px;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    background: rgba(246, 244, 244, 0.503);
}
.weekly::-webkit-scrollbar{
    height: 4px;
    width: 4px;
}
.weekly::-webkit-scrollbar-track{
        background: rgba(225, 225, 225, 0.1);
        border-radius: 99px;
}
.weekly::-webkit-scrollbar-thumb{
        background: rgba(15, 15, 15, 0.251);
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        border-bottom-right-radius:100px ;
        border-top-right-radius: 100px;
}
.weekly::-webkit-scrollbar{
    display: none;
}
.weekly-info{
    width: 95%;
    height: 10vh;
    border-bottom: 0.1px solid;
    border-radius: 10px;
    margin: 4px auto;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s all ease;

}
.weekly-info:hover{
    background:  rgba(232, 230, 230, 0.584);

    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
}

.weekly-info>h5{
    font-size: clamp(0.9rem , 2vw , 1.2rem);
    font-weight: 500;
}
.weekly-info>img{
    width: max(8vh , 4%);
}

/* -------- Ends here -------- */

.suggest{
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(0deg ,transparent 20% ,  rgba(212, 181, 87, 0.478) 70%);
    border: 1px solid rgba(107, 27, 182, 0.274);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(100px);
    position: absolute;
    /* top: 35%; */
    top:clamp(300px ,70vh, 330px);
    right: 1%;
    z-index: 9;
    border-radius:4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 2px;
    margin-right: 8px;
    transition: 0.4s all ease;
}
.text-suggest{
    font-size: 0.7rem;
    font-weight: 500;
}
.text-suggest , .suggest-close{
    display: none;
    
}
/* ----------Ends ---------- */



/* Todays forecast */

.today{
    /* border: 1px solid; */
    width: max(80% , 300px);
    max-height: 38vh;
    margin: 20px auto;
    border-radius: 8px;
    /* background: rgb(246, 244, 244); */
}
.todaytext > h3{
    padding: 6px;
    font-size: clamp(1rem , 2vw , 1.5rem);
}
.todays-info{
    width: 95%;
    min-height:20vh;
    /* border: 0.1px solid; */
    border-radius: 10px;
    margin: 2px auto;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 18px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.todays-info::-webkit-scrollbar{
    display: none;
}

.todays-details,.todayswind{
    width: 5rem;
    max-height: 14vh;
    border: 0.6px solid;
    margin: 4px 0px;
    border-radius:8px ;
    text-align: center;
    align-content: center;
    background: rgba(246, 244, 244, 0.556);
    padding: 8px 0px;
}
.todayswind{
    margin: 6px 0px;
}
.todays-details:hover ,.todayswind:hover{
    background:  rgba(232, 230, 230, 0.584);
    box-shadow:1px 2px 2px 1px rgba(0, 0, 0, 0.4) ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
}   

.todayswithwind h5{
    font-weight: 200;
    padding: 6px 0px;
}
.todayswithwind .wind-degree{
    width: 1.2rem;
}

/* --------Footer starts-------- */
footer{
    width: 100%;
    height: 10vh;
    height: 10dvh;
    background-color: rgba(213, 216, 216, 0.349);
    text-align: center;
    align-content: center;
}
footer span{
    font-size: clamp(0.8rem , 2vw , 1rem);
}
/* ------ Ends here ------ */


/* ------ Media Query ------- */
@media (min-width:760px) {
    .highlights,.todays-info{
        justify-content: center;
        align-items: center;
    }

}
/* ---------end------------- */